---
layout: default
---
<!-- Services-->
<section class="page-section" id="project">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Project</h2>
            <p class="text-center"> Our project aims to cultivate scientific curiosity among the Latinx community and empower its members to take ownership of their scientific experiences.</p>
            <p class="text-center"> We are opening CU's Observatory and Planetarium to the local Latinx communities, by providing programs in their native language, and creating mobile programs with portable telescopes to reach them in their own environments. </p>
            <p class="text-white">. </p> 
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-halo-purple"></i>
                    <i class="fas fa-rocket fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Break Barriers</h4>
                <p class="text-muted">We aim to eliminate barriers that have historically prevented the Latinx community from engaging with CU spaces. These include limited exposure, language barriers, and a lack of sense of belonging.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-halo-orange"></i>
                    <i class="fas fa-person-chalkboard fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Educational Content</h4>
                <p class="text-muted">We co-create educational content in Spanish for CU's facilities, tailored to the needs of the Latinx communities in Boulder.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-halo-purple"></i>
                    <i class="fas fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Representation</h4>
                <p class="text-muted">We aspire to lead by example. By demonstrating it is possible
to achieve the highest levels of scientific education, we aim to show that there is room for Latinxs in academic environments.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-halo-orange"></i>
                    <i class="fas fa-satellite-dish fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Training Sessions</h4>
                <p class="text-muted">We host training sessions for Spanish speakers, where they learn to operate the 20-inch telescopes at the Observatory, a portable 8-inch telescope, and a portable H-alpha 40mm solar telescope.</p>
            </div>
        </div>
    </div>
</section> 
<!-- Portfolio Grid-->
<!-- <section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Portfolio</h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row">
            {% assign collections = site.portfolio | sort: 'name' %}
            {% for collection in collections %}
                <div class="col-lg-4 col-sm-6 mb-4"> -->
                    <!-- Portfolio item -->
                   <!-- <div class="portfolio-item">
                        <a class="portfolio-link" data-bs-toggle="modal" href="#portfolioModal{{ forloop.index }}">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="{{ collection.image }}" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">{{ collection.title }}</div>
                            <div class="portfolio-caption-subheading text-muted">{{ collection.category }}</div>
                        </div>
                    </div>
                </div>                    
            {% endfor %} 
        </div>
    </div>
</section> -->
<!-- About-->
<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">About</h2>
            <h3 class="section-subheading text-muted">This is our story... </h3>

        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/mo.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2021-2022</h4>
                        <h4 class="subheading">Multiculturalism at the Observatory (MO)</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted"> We were awarded a <a href="https://www.colorado.edu/oce/funding-and-resources/engaged-scholarship-grants/tier-1"> Micro Grant</a> by CU's Office for Outreach and Engagement and we launched our first outreach project. MO was a bilingual astronomy outreach <a href="https://www.colorado.edu/sbo/student-activities/multiculturalism-sbo-multiculturalismo-en-sbo"> program</a> that enabled community members to explore the cosmos and the connection between astronomy and hispanic cultures. The program hosted alternating English and Spanish online observing nights at CU's Sommers-Bausch Observatory.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/hofo.png" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2023-2024</h4>
                        <h4 class="subheading">Hispanic Outreach at Fiske and the Observatory (HOFO)</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We won an <a href="https://www.colorado.edu/oce/funding-and-resources/engaged-scholarship-grants/tier-3">Outreach Award</a> by CU's Office for Outreach and Engagement. We officially partered with the <a href="https://www.colorado.edu/sbo/">Sommers-Bausch Observatory</a>, the <a href="https://www.colorado.edu/fiske/">Fiske Planetarium</a> and <a href="https://explorandosenderos.org">Explorando Senderos</a>, and took our project one step further: opening CU's spaces for the Latinx families. Our program included science talks in Spanish followed by scientific demonstrations led by the community, observing nights and training in operating a portable telescope.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/halo.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2024-2025</h4>
                        <h4 class="subheading">Hispanic Astronomy for Learning and Observation (HALO)</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We were awarded a Tier 4 <a href="https://www.colorado.edu/oce/funding-and-resources/engaged-scholarship-grants/tier-4"> Public and Community-Engaged Scholarship Grant</a>. Thanks to our partners and feedback from our community, we launched the Amateur Astronomer certificate-based program. In this program, Latinx families receive training to operate SBO’s 20-inch telescopes,
a portable 8-inch telescope, and a portable H-alpha 40mm solar telescope. The first cohort of trainees graduated in December 2025! And led several <a href="https://www.colorado.edu/sbo/open-houses">Bilingual Open Houses at SBO</a>.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/OH.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>2025-2026</h4>
                        <h4 class="subheading">Sustained engagement</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">We were awarded a Tier 4 <a href="https://www.colorado.edu/oce/funding-and-resources/engaged-scholarship-grants/tier-4"> Public and Community-Engaged Scholarship Grant</a> again! We continue the Amateur Astronomer certificate-based program and regularly host community-led <a href="https://www.colorado.edu/sbo/open-houses">Bilingual Open Houses</a> at SBO.</p></div> 
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Be Part
                        <br />
                        Of Our
                        <br />
                        Story!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Our Team</h2>
            <h3 class="section-subheading text-muted">  </h3>
        </div>
        <div class="row">
            {% assign team = site.team %}
            {% for person in team %}
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="{{ person.image | relative_url }}" alt="{{ person.name | escape }}" />
                    <p>{{ person.name }}</p>
                    <p class="text-muted">{{ person.role }}</p>
                    <p class="text-muted mb-1">
                        <span class="fi fi-{{ person.flag }}"> </span> {{ person.country }} </p>
                   <!-- <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} Twitter Profile"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="{{ person.name | escape }} LinkedIn Profile"><i class="fab fa-linkedin-in"></i></a> -->
                </div>
            </div> 
            {% endfor %}  
        </div>
        <div class="row">
            <!-- <div class="col-lg-8 mx-auto text-center"><p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p></div>
        </div> -->
    </div>
</section>


    <!-- Portfolio Modals-->
   <!-- {% for collection in collections %}
    <div class="portfolio-modal modal fade" id="portfolioModal{{ forloop.index }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="close-modal" data-bs-dismiss="modal"><img src="{{ '/assets/img/close-icon.svg' | relative_url }}" alt="Close modal" /></div>
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <div class="modal-body"> -->
                                <!-- Project details-->
                              <!--  <h2 class="text-uppercase">{{ collection.title }}</h2>
                                <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                                <img class="img-fluid d-block mx-auto" src="{{ collection.image | relative_url }}" alt="..." />
                                <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>
                                <ul class="list-inline">
                                    <li>
                                        <strong>Client:</strong>
                                        Threads
                                    </li>
                                    <li>
                                        <strong>Category:</strong>
                                        Illustration
                                    </li>
                                </ul>
                                <button class="btn btn-primary btn-xl text-uppercase" data-bs-dismiss="modal" type="button">
                                    <i class="fas fa-xmark me-1"></i>
                                    Close Project
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}  -->
